<!-- beans.xml -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customer" class="com.example.Customer">
        <property name="lists">
            <list>
                <value>Item1</value>
                <value>Item2</value>
            </list>
        </property>

        <property name="maps">
            <map>
                <entry key="Key1" value="Value1"/>
                <entry key="Key2" value="Value2"/>
            </map>
        </property>

        <property name="pros">
            <props>
                <prop key="property1">Value1</prop>
                <prop key="property2">Value2</prop>
            </props>
        </property>
    </bean>

</beans>
